@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    background: #222;
}

.container {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 90vh;
    margin-top: 2.5vh;
}

.container .code {
    min-width: 50%;
    min-height: 100%;
    border: none;
    outline: none;
    border-right: 5px solid #aca000;
    border-radius: 5px;
    padding: .4rem;
    resize: none;
    color: #aca000;
    background: #444;
}

.container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: .4rem;
    margin-left: .5rem;
    background: #f2f2f2;
}